{% extends 'base.html'%}

{% block content %}
<div class="card mt-5">
  <div class="card-header purple-gradient text-white">
    Rainbow mode
  </div>
  <div class="card-body elegant-color text-white">
    <label class="mt-4" for="rainbow-step-range">Rainbow step</label>
    <div class="d-flex">
      <input type="range" class="custom-range" id="rainbow-step-range" min="1" max="5" value="{{ rainbow_step }}">
      <span class="font-weight-bold ml-2" id="rainbow-step-span"></span>
    </div>
  </div>
</div>
{% endblock %}